<div class="mt-6 flex flex-col items-start">
  <p class="font-bold text-xl">Nuevos especialistas en HealthMate</p>
  <div class="w-full">
    <div class="flex w-full justify-center">
      <button
        class="text-gray-600 py-2 px-4"
        (click)="prevPage()"
        [class.opacity-50]="currentPage === 0"
        [disabled]="currentPage === 0"
      >
        <svg
          class="h-6 w-6"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path d="M15 19l-7-7 7-7"></path>
        </svg>
      </button>

      <div class="flex w-full" #carousel>
        <ng-container
          *ngFor="let page of pages"
          [ngSwitch]="currentPage === page"
        >
          <div
            class="flex my-8 md:mx-4 md:space-x-3 carousel-page w-full"
            *ngSwitchCase="true"
          >
            <ng-container *ngFor="let card of getCardsForPage(page)">
              <a
                routerLink="{{
                  '/categoria/' + card.especialidad.id + '/doctor/' + card.id
                }}"
                class="card border solid w-full md:w-1/2 lg:w-1/3 rounded-lg shadow-md p-4 flex flex-row justify-evenly items-center md:space-x-4"
              >
                <img
                  src="{{ environment.supabaseUrl + card.foto }}"
                  alt="doctor profile picture"
                  class="rounded-full md:w-[100px] md:h-[100px] w-[80px] h-[80px]"
                />
                <div class="flex flex-col">
                  <h2 class="text-sm md:text-lg font-bold mb-2">
                    {{ card.nombre }}
                  </h2>

                  <p class="text-sm md:text-base text-gray-600">
                    {{ card.especialidad.nombre }}
                  </p>
                </div>
              </a>
            </ng-container>
          </div>
          <div *ngSwitchDefault></div>
        </ng-container>
      </div>

      <button
        class="text-gray-600 py-2 px-4"
        (click)="nextPage()"
        [class.opacity-50]="currentPage === totalPages - 1"
        [disabled]="currentPage === totalPages - 1"
      >
        <svg
          class="h-6 w-6"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path d="M9 5l7 7-7 7"></path>
        </svg>
      </button>
    </div>
    <div class="carousel-indicators">
      <ul>
        <li
          *ngFor="let page of pages; let i = index"
          [class.active]="i === currentPage"
        >
          <button (click)="goToPage(i)"></button>
        </li>
      </ul>
    </div>
  </div>
</div>
