<hr />

<div class="lg:p-10 sm:m-16">
  <div class="flex justify-evenly flex-col lg:flex-row">
    <div class="flex flex-col md:mt-4">
      <p class="text-xl text-gray-500 md:my-2">Servicio</p>
      <p class="text-gray-400">Privacidad y cookies</p>
      <p class="text-gray-400">Quiénes somos</p>
      <p class="text-gray-400">Contacto</p>
      <p class="text-gray-400">Términos y condiciones</p>
      <p class="text-gray-400">Prensa</p>
    </div>

    <div class="flex flex-col md:mt-4">
      <p class="text-xl text-gray-500 md:my-2">Para los pacientes</p>
      <p class="text-gray-400">Especialistas</p>
      <p class="text-gray-400">Clínicas</p>
      <p class="text-gray-400">Pregunta al experto</p>
      <p class="text-gray-400">Servicios</p>
      <p class="text-gray-400">Enfermedades</p>
      <p class="text-gray-400">Preguntas frecuentes</p>
      <p class="text-gray-400">Aplicación para móvil</p>
    </div>

    <div class="flex flex-col md:mt-4">
      <p class="text-xl text-gray-500 md:my-2">Para profesionales</p>
      <p class="text-gray-400">Planes y precios</p>
      <p class="text-gray-400">Para especialistas</p>
      <p class="text-gray-400">Recursos</p>
      <p class="text-gray-400">Para Clínicas</p>
      <p class="text-gray-400">Centro de ayuda para especialistas</p>
      <p class="text-gray-400">Condiciones de los planes Healthmate</p>
    </div>

    <div class="flex flex-col md:mt-4">
      <app-logo></app-logo>
      <p class="text-gray-400">Healthmate México S.A de C.V</p>
      <p class="text-gray-400">Anillo Periférico Sur</p>
      <p class="text-gray-400">Manuel Gómez Morín No. 8585</p>
      <p class="text-gray-400">Col. Santa María Tequepexpan</p>
      <p class="text-gray-400">San Pedro Tlaquepaque</p>
      <p class="text-gray-400">CP 45604 Tlaquepaque, México</p>
      <p class="text-gray-400">(+52) 33 1548 0027</p>
    </div>
  </div>
</div>

<hr />

<div class="my-5">
  <p class="flex justify-center text-gray-400">
    www.healthmate.com {{ year }} - Encuentra a tu especialista y pide cita
  </p>
</div>
