<div class="container">
  <div class="flex flex-row justify-center">
    <div class="flex flex-col columns-12 md:columns-6 lg:columns-5">
      <p class="text-2xl font-bold">Accede a tu cuenta</p>
      <input
        type="text"
        placeholder="Correo Electrónico"
        class="mt-4 input input-bordered w-full max-w-xs md:max-w-sm lg:max-w-md"
      />
      <input
        type="password"
        placeholder="Contraseña"
        class="mt-4 input input-bordered w-full max-w-xs md:max-w-sm lg:max-w-md"
      />
    </div>
  </div>
</div>
